@import url('https://fonts.googleapis.com/css2?family=Poppins:300,400,500,600,700,900&display=swap');
@import url('https://stackpath.bootsrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*
{
  box-sizing: border-box;
  margin: 0;
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}
body{
  margin: 0;
  font-family: 'poppins', sans-serif;
  overflow-x: hidden;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}


fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.hidden,
[hidden] {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  
}

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.container{
  max-width: 1170px;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.sectionTitle{
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}
.sectionTitle h1{
  display: inline-block;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700px;
  color: #000000;
  margin: 0 0 5px;
  position: relative;
}
.sectionTitle h1::before{
  content: '';
  height: 2px;
  background-color: #0072C6;
  position: absolute;
  bottom: 0;
  width: 50px;
  left: 0;
  right: 0;
  margin: auto;
  transition: all .5s ease !important;
}
.sectionTitle h1:hover::before{
  width: 100% !important;
}
.textCenter{
  text-align: center !important;
}
.textLeft{
  text-align: left !important;
}
.textRight{
  text-align: right !important;
}

/**Header**/
header{
  top: 0;
  background: #000000;
  position: sticky;
  left: 0;
  right: 0;
  border-bottom: 1px solid #423940;
  padding: 0px 15px;
  z-index: 10;
}
header .row{
  justify-content: space-between;
  align-items: center;
}
header .brandName a{
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
}
header .brandName a::before{
  content: '';
  height: 3px;
  background-color: #0072C6;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
header .navbar ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
header .navbar ul li{
  display: inline-block;
  margin-left: 35px;
}
header .navbar ul li a{
  font-size: 15px;
  text-decoration: none;
  line-height: 75px;
  color: #ffffff;
  font-weight: 600;
  position: relative;
}
header .fixed .navbar ul li a{
  color: #000000;
}
header .navbar ul li a::before{
  content: '';
  height: 3px;
  background-color: #ffffff;
  width: 0%;
  position: absolute;
  right: 0;
  bottom: -1px;
  transition: all .5s ease;
}
header .navbar ul li a:hover::before{
  width: 100%;
  left: 0;
}
header .navbar ul li a.active::before{
  width: 100%;
  left: 0;
}
/**CloseHeader**/

/**HomeSection**/
.home{
  min-height: 100vh;
  background-image: url(../img/front.jpg);
  background-size: cover;
  background-position: center;
  padding: 15px;
}
.home .fullScreen{
  min-height: 100vh;
}
.home .homeContent{
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.home .homeContent .block{
  flex: 0 0 75%;
  max-width: 75%;
  padding-left: 35px;
  margin-top: 50px;
}
.home .homeContent .block h6{
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.home .homeContent .block h1{
  color: #ffffff;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.home .homeContent .block h3{
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.home .homeContent .block .cvBtn{
  padding-top: 20px;
}
.home .homeContent .block .cvBtn a{
  border-radius: 10px;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 12px 25px;
  text-decoration: none;
  display: inline;
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 700;
  transition: all .5 ease;
  background-color: transparent;
}
.home .homeContent .block .cvBtn a:hover{
  background-color: #ffffff;
  color: #000000;
}
/**CloseHomeSection**/

/**ABoutSection**/
.aboutMe{
  padding: 100px 15px;
  background-color: #ffffff;
}
.textUppercase{
  text-transform: uppercase !important;
}
.aboutMe .sectionTitle p .small{
  display: block;
  font-size: 15px;
  color: #838383;
  font-weight: 400;
  letter-spacing: 2px;
}
.aboutMe .aboutContent .img{
  flex: 0 0 33.33%;
  max-width: 33.3%;
}
.aboutMe .aboutContent .img img{
  width: 100%;
  display: block;
}
.aboutMe .aboutContent .text{
  flex: 0 0 66.66%;
  max-width: 66.66%;
  padding-left: 30px;
}
.aboutMe .aboutContent .text h4{
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 5px;
  color: #000000;
  cursor: pointer;
  border-bottom: 2px solid #000000;
}
.aboutMe .aboutContent .text h6{
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 15px;
  color: #000000;
}
.aboutMe .aboutContent .text h6 span{
  color: #0072C6;
  cursor: grab;
}
.aboutMe .aboutContent .text p{
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #838383;
  margin: 0 0 20px;
}
.aboutMe .aboutContent .text .info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.aboutMe .aboutContent .text .info .list{
  flex: 0 0 calc(50% - 15px);
  max-width: calc(50% - 15px);
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #2e2e2e;
  padding-bottom: 10px;
}
.aboutMe .aboutContent .text .info .list label{
  padding-right: 10px;
  color: #000000;
  font-weight: 600;
  font-size: 15px;
}
.aboutMe .aboutContent .text .socialMedia{
  padding-top: 40px;
}
.aboutMe .aboutContent .text .socialMedia a{
  height: 30px;
  width: 30px;
  background-color: #2e2e2e;
  border-radius: 50px;
  display: inline-block;
  border: 2px solid #000000;
  line-height: 28px;
  text-align: center;
  margin: 0 1px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.aboutMe .aboutContent .text .socialMedia a:hover{
  background-color: transparent;
}
.aboutMe .aboutContent .text .socialMedia a .fab{
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.aboutMe .aboutContent .text .socialMedia a:hover .fab{
  color: #000000;
}

/**CloseAboutSection**/

/**MessageText**/
.messageText{
  background-color: #0c0c17;
  padding: 40px 15px;
}
.messageText .text{
  flex: 0 0 66.66%;
  max-width: 66.66%;
}
.messageText .text h2{
  font-size: 25px;
  color: #ffffff;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 35px;
}
.messageText .button{
  flex: 0 0 33.33%;
  max-width: 33.33%;
  text-align: right; 
}
.messageText .button a{
  border-radius: 5px;
  color: #ffffff;
  border: 2px solid #eeeeee;
  padding: 13px 30px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  transition: all .5s ease;
  background-color: transparent;
}
.messageText .button a:hover{
  background-color: #ffffff;
  color: #000000;
}
/**CloseMessageText**/


/**ServiceSection**/
.services{
  background-color: #f5f8fd;
  padding: 100px 15px 70px;
}
.services .serviceContents{
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services .serviceContents .box{
  background-color: #ffffff;
  padding: 30px;
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  text-align: center;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}
.services .serviceContents .box::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  transition: all .6s ease;
}
.services .serviceContents .box::after{
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  transition: all .6s ease;
}
.services .serviceContents .box:hover::after,
.services .serviceContents .box:hover::before{
  border-color: #0072C6;
  width: 100%;
  height: 100%;
}
.services .serviceContents .box .icons{
  height: 60px;
  width: 60px;
  background-color: #0072C6;
  margin: 15px auto 20px;
  border-radius: 50%;
  text-align: center;
}
.services .serviceContents .box .icons .fa{
  font-size: 25px;
  color: #ffffff;
  line-height: 60px;
}
.services .serviceContents .box p{
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #838383;
  margin: 10px 0 10px;
}
/**CloseServiceStection**/

/**SkillsSection**/

/**CloseSkillsSection**/
