@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap');
@import url('https://stackpath.bootsrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*
{
  box-sizing: border-box;
  margin: 0;
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}


fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.hidden,
[hidden] {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  
}

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.container{
  max-width: 1170px;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}

/**Header**/
header{
  top: 0;
  background: #000000;
  position: sticky;
  left: 0;
  right: 0;
  border-bottom: 1px solid #423940;
  padding: 0px 15px;
  z-index: 10;
}
header .row{
  justify-content: space-between;
  align-items: center;
}
header .brandName a{
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
}
header .brandName a::before{
  content: '';
  height: 3px;
  background-color: #ff5722;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
header .navbar ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
header .navbar ul li a{
  font-size: 15px;
  text-decoration: none;
  line-height: 75px;
  color: #ffffff;
  font-weight: 600;
  position: relative;
}
header .fixed .navbar ul li a{
  color: #000000;
}
header .navbar ul li a::before{
  content: '';
  height: 3px;
  background-color: #ffffff;
  width: 0%;
  position: absolute;
  right: 0;
  bottom: -1px;
  transition: all .5s ease;
}
header .navbar ul li a:hover::before{
  width: 100%;
  left: 0;
}
header .navbar ul li a.active::before{
  width: 100%;
  left: 0;
}


/**CloseHeader**/